name: Test

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: htmlproofer
      - name: Unit tests
        working-directory: htmlproofer
        run: bundle exec rspec spec/*_spec.rb
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: htmlproofer
      - name: Unit tests
        working-directory: htmlproofer
        run: bundle exec rubocop lib/* spec/*
